* {
  margin: 0px;
  padding: 0px;
  /* background:#F6FAFF ; */
}


/* .fullap{
  width: 100%;
  height: 40vh;

  background:#F6FAFF ;
} */

.baraap {
  /* position: fixed; */
  width: 100%;
  height: 35vh;
  background: #ffffff;

  /* width: 20%; */
  border: 1px solid rgb(255, 252, 252);

  /* top: 32%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */


  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 15px 15px 15px;
}


.radhe{
  padding-top: 6px;
}

.mainap00 {
  /* display: flex; */
  /* justify-content: space-around; */
  background: #ffffff;

  margin-top: 50px;
}

.iconap {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

.cardap {
  width: 20%;
  /* height: 50%; */
  background: #ffffff;
  padding: 0px 10px 20px 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px gainsboro;
  display: inline-block;
  margin-right: 10px;
}

.underap {
  font-family: "poppins";
  font-size: small;
  background: #ffffff;
}

.cardap p {
  font-family: "poppins";
  /* background: #FFFFFF; */
}

.fullap0 {
  background: #D0E5FF;
  width: 90px;
  border-radius: 10px;
  text-align: center;
  font-size: small;
  font-family: "Poppins";
  margin: 5px 0px 8px 0px;
}

.chiefap {
  margin-bottom: 5px;
  font-family: "poppins";
  background: #ffffff;
}

.viewap {
  margin-top: 10px;

  display: flex;
  justify-content: end;
  background: #ffffff;
}
.btnview {
  color: #3583f6;
  background: #ffffff;
  border: none;
  font-family: "poppins";
}

/* End Card */

.shortap {
  display: flex;
  justify-content: end;
  background: #ffffff;
}

.shortap {
  margin-right: 12%;
}

.shortap #cars {
  width: 8%;
  padding: 7px;
  margin-left: 10px;
  border-radius: 25px;
  border: 1px solid #101010;
  background: #ffffff;
}

/* .shortap span{
    display: flex;
    justify-content: end;
    /* background: #FFFFFF; */
